* {
    margin:0;
    padding:0;
}

.navBarTop {
    display: flex;
    background-color:#3D3D3D;
    height:40px;
    justify-content: space-around;
    align-items: center;
}

.search {
    display: flex;
    color:#CECECE;
    font-size: 14px;
    align-items: center;
}

.searchBar {
    background-color: inherit;
    border:#575757;
    border-radius: 4px;
    padding: 5px 0px 5px 30px;
    margin-left:5px;
    width:350px;
}

.search .fa-search {
    padding:0px;
    position:relative;
    top:1px;
    left:45px;
    color:#CECECE;
    font-size:12px;
}

.searchBar:hover {
    border:#575757;
    background-color: #575757;
    color:#CECECE;
}

::-webkit-input-placeholder {
    color: #CECECE;
}

.appIcon {
    font-size: 20px;
}

.notificationIcons {
    display: flex;
    align-items: center;
}

.settingsBox {
    position:relative;
}

.card {
    position: absolute;
    top: 33px;
    right: 15px;
    display: none;
    z-index: 1;
}

.list {
    font-size: 10px;
}

.list:hover{
    cursor: pointer;
    background-color:#F3F3F3;
}

.listItem {
    font-size: 12px;
}

.fa {
    color:#fff;
    margin:0px 20px;
}

.subIcons {
    color: black;
    padding: 0px;
    margin: 0px 15px 0px 0px;
}

.fa:hover{
    cursor:pointer;
}

.navBarVertical {
    background-color: #FAFAFA;
    padding-right: 0px;
}

.navBarVerticalList{
    float: right;
    padding: 50px 0px;
    list-style-type: none;
}

.navBarVerticalListItem {
    margin-bottom: 5px;
    padding:12px 100px 12px 0px;
}

.navBarVerticalListItem:hover {
    cursor: pointer;
    background-color: #fff !important;
}

.todoOptionIcons {
    font-size: 12px;
    color:#555555;
}

#tabDetails {
    padding:50px;
}

.inboxHeading {
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
}

.plusIcon {
    color:#555555;
    margin:0 10px 0px 0px;
}

.taskDetails { 
    display: inline;
}

.taskDetails:hover {
    cursor: pointer;
}

.container {
    display: flex;
    padding-left: 0px;
}

.taskName {
    width: 400px;
    height: 35px;
    padding:10px;
    border-color: #CCCECE;
    border-radius: 5px;
    border-style: solid;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 14px;
}

.schedule {
    width:142px;
    font-size: 12px;
    height: 35px;
    padding:10px;
    border-color: #CCCECE;
    border-radius: 5px;
    border-style: solid;
    border-left: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.buttonContainer {
    margin-top:10px;
    display: inline-block;
}

.addTask {
    margin-right:5px;
    padding:8px;
    border-radius: 4px;
    background-color: black;
    color:white;
    font-size: 12px;
    font-weight: bold;
    border: none;
}

.addTask:hover{
    cursor: pointer;
}

.cancel {
    border:none;
    font-size: 15px;
    background-color: #fff;
}

.cancel:hover {
    cursor: pointer;
}

::-webkit-datetime-edit { padding: 0px }
::-webkit-datetime-edit-text { color: red; }
::-webkit-datetime-edit-month-field { color: blue; }
::-webkit-datetime-edit-day-field { color: green; }
::-webkit-datetime-edit-year-field { color: purple; }
::-webkit-inner-spin-button { display: none; }
::-webkit-calendar-picker-indicator { background: orange; }
::-webkit-clear-button { padding:5px; }

.taskName .schedule {
  
    border-collapse: collapse;
}

.schedule:focus, .taskName:focus {
    outline: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size:12px;
}

